{% extends "base.html" %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="display-4">404 – Ups! Něco se rozbilo...</h1>
    <p class="lead">Tahle stránka tu bohužel není. Třeba auto skončilo ve šrotu 🤷</p>
    <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3p0ZG8yNnVmbWlqNjQ3Y2dnOXJ2MDZpcnhwZ21rcmFrdXd6YWJhOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hyyV7pnbE0FqLNBAzs/giphy.gif" alt="Crash gif" class="img-fluid mt-3 mb-4" style="max-height: 300px;">
    <br>
    <a href="/" class="btn btn-primary">🏠 Zpět na úvod</a>
</div>
{% endblock %}

